<div class="dashboard">
  <div class="row">
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-body">
              <div class="container">
                  <div class="row1">
                    <div class="col-2">
                      <!-- <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                      <label for="styled-checkbox-1"></label> -->
                      <img src="assets/images/rectangle.png" class="card-img" alt="...">
                    </div>
                    <div class="col-10">
                      <h6 class="card-title">Create a new Qube instance</h6>
                      <p class="card-text"><small>Qube Virtual Agent with its customization options steamlines your operations, get started today to avail all of its benefits! Follow this step by step tutorial to build your virtual agent and deploy it to public.</small></p>                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row1">
                    <div class="col-2">
                      <div class="center">
                          <input class="styled-checkbox" style="height: 10px;" id="styled-checkbox-2" type="checkbox" value="value1">
                          <label for="styled-checkbox-2" style="height: 1px; width: 1px;"></label>
                      </div>
                      <!-- <img src="assets/images/ellipse.png" class="card-img" alt="..."> -->
                    </div>
                    <div class="col-10">
                      <p class="card-text"><small>Configure AI/NLU Engine</small></p>
                    </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row1">
                    <div class="col-2">
                      <div class="center">
                          <input class="styled-checkbox" style="height: 10px;" id="styled-checkbox-3" type="checkbox" value="value1">
                          <label for="styled-checkbox-3" style="height: 1px; width: 1px;"></label>
                      </div>
                      <!-- <img src="assets/images/ellipse.png" class="card-img" alt="..."> -->
                    </div>
                    <div class="col-10">
                      <p class="card-text"><small>Integration Hive</small></p>
                    </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row1">
                    <div class="col-2">
                      <div class="center">
                          <input class="styled-checkbox" style="height: 10px;" id="styled-checkbox-4" type="checkbox" value="value1">
                          <label for="styled-checkbox-4" style="height: 1px; width: 1px;"></label>
                      </div>
                      <!-- <img src="assets/images/ellipse.png" class="card-img" alt="..."> -->
                    </div>
                    <div class="col-10">
                      <p class="card-text"><small>Communication Adapter</small></p>
                    </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row1">
                    <div class="col-2">
                      <div class="center">
                          <input class="styled-checkbox" style="height: 10px;" id="styled-checkbox-5" type="checkbox" value="value1">
                          <label for="styled-checkbox-5" style="height: 1px; width: 1px;"></label>
                      </div>
                      <!-- <img src="assets/images/ellipse.png" class="card-img" alt="..."> -->
                    </div>
                    <div class="col-10">
                      <p class="card-text"><small>Add Users & Assign Access</small></p>
                    </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row1">
                    <div class="col-2">
                      <div class="center">
                          <input class="styled-checkbox" style="height: 10px;" id="styled-checkbox-6" type="checkbox" value="value1">
                          <label for="styled-checkbox-6" style="height: 1px; width: 1px;"></label>
                      </div>
                      <!-- <img src="assets/images/ellipse.png" class="card-img" alt="..."> -->
                    </div>
                    <div class="col-10">
                      <p class="card-text"><small>Deploy</small></p>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-body">
            <h6 class="card-title">Bot Analytics</h6>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="card" style="height: 500px;">
            <div class="card-body">
              <h6 class="card-title">Flows</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card h-100">
            <div class="card-body">
              <h6 class="card-title">Users</h6>
            </div>
          </div>
        </div>
    </div>
</div>
