.main{
  display: flex;
}
.split1 {
  width: 56.25%;
  background-size: contain;
  background-image: url("../../../assets/images/img1.png");
}
.split2 {
  width: 43.75%;
}
.bannerImg {
  width: 100%;
  height: 100vh;
}
.sign_in_form{
  margin-left: 24.5%;
  margin-right: 24.5%;
  margin-top: 13%;
  margin-bottom: 16.5%;
}
.welcome_text{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  align-items: center;
  color: #000000;
}
.para1{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #8692A6;
}
.para2{
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  align-items: center;
  margin-top: inherit;
  color: #696F79;
}
.divider-text{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 2px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #BABABA;
}
button{
  background: #20B283;
  width: 100%;
  height: 42px;
  border: 1px solid #20B283;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.btn-txt{
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
}
:host ::ng-deep .p-divider-horizontal.p-divider-left {
  justify-content: center !important;
}
.p-inputtext-sm{
  width: 100%;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #20B283;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
input[type="checkbox"]
{
  vertical-align:middle;
}
.check{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: auto;
  align-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}

.quantiphi-logo {
  position: relative;
  left: 1rem;
  width: 8rem;
  bottom: 1rem;
}
.login-text {
  display: inline-block;
  padding-bottom: 1rem;
}

.google-btn {
  width: 100%;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #20B283;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  .google-icon {
    position: absolute;
    margin-top: 12px;
    margin-left: 12px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    align-self: center;
    margin: 10px 0 0 0;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: center;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    background: #20B283;
  }
}
