<div class="side-menu" >

    <div class="img">
        <img src="assets/images/Qube.png" alt="" style="width: 80%; margin-left: 10%;">
        
        </div>
        <a href="http://localhost:4200/landing-page"><div class="bots">
        <i class="pi pi-arrow-left" style="font-size: 0.4rem">&nbsp;</i>
        <small>Bots</small>
        <hr style="width:60%; text-align:center; margin-left:20%">
    </div></a>
    <p-panelMenu styleClass="style1" [model]="items" [style]="{ height: '100%', 'background-color': '#FFFFFF', 'border': 'none' }" [multiple]="false"></p-panelMenu>

</div>