.side-menu{
    //width: 12.5%;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}
.img{
    align-items: center;
    padding: 10px;
}
.bots{
  text-align: center;
  color: #C4C4C4;
    margin-top: 10px;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}


:host ::ng-deep .style1.p-panelmenu {
    .dashboard-icon {
        content: url("../../../../../../assets/images/dashboard.svg") !important;
        width: 10%;
    }
    .design-icon {
        content: url("../../../../../../assets/images/design.svg") !important;
        width: 10%;
    }
    .deploy-icon {
        content: url("../../../../../../assets/images/deploy.svg") !important;
        width: 10%;
    }
    .analytics-icon {
        content: url("../../../../../../assets/images/analytics.svg") !important;
        width: 10%;
    }
    .nlu-icon {
        content: url("../../../../../../assets/images/NLU.svg") !important;
        width: 7%;
    }
    .cd-icon {
        content: url("../../../../../../assets/images/CD.svg") !important;
        width: 7%;
    }
    .ih-icon {
        content: url("../../../../../../assets/images/IH.svg") !important;
        width: 7%;
    }
    .testing-icon {
        content: url("../../../../../../assets/images/testing.svg") !important;
        width: 7%;
    }
    .p-panelmenu-header > a {
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        transition: box-shadow 0.2s;
        border: 0px solid #f8f9fa !important;
        background-color: #FFFFFF !important;
        padding: 1.5em 1.8em !important;
        color: #C4C4C4 !important;
      }
      .p-panelmenu-content {
        border: 0px solid #f8f9fa !important;
      }
      
      .p-panelmenu-header > a:focus {
        box-shadow: none !important;
      }
      
      .p-panelmenu-header.p-highlight > a {
        // background-color: #e10101 !important;
        color: #223E80 !important;
        border-left: 2px solid #223E80 !important;
        background-color: #E9ECF2 !important;
      }
      
      .p-panelmenu-icon {
        float: right;
        order: 1;
      }
      .p-menuitem-text {
        flex-grow: 1; // to fill the whole space and push the icon to the end
       }
      .p-submenu-list {
        //margin: 1.5em !important;
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        transition: box-shadow 0.2s;
        border: 0px solid #f8f9fa !important;
        background-color: #E9ECF2 !important;
        //padding: 1.5em 1.8em !important;
        color: #C4C4C4 !important;
      }
      
      .p-panelmenu-content .p-menuitem .p-menuitem-link {
        padding: 1em 0.8em !important;
      }
      .pi {
        font-size: 0.7rem;
      }
}